<!DOCTYPE html>
<html>
    <head>
        <title>Unsubscribe</title>
    </head>
    <body>
        <h1>Unsubscribe</h1>
        <p>Your email address {{ email }} is currently subscribed to periodic updates. If you'd like to unsubscribe from future updates, please click the "unsubscribe" button below.</p>
        <form method="POST" action="{% url nova.views.unsubscribe token=token %}">
            {% csrf_token %}
            <input type="submit" class="button" value="Unsubscribe" />
        </form>
    </body>
</html>
